body {
    font-family: Arial, Helvetica, sans-serif
}

.gameContainer {
    display: grid;
    width: 50em;
    height: 50em;
    grid-template-columns: 10em 10em 10em;
    grid-template-rows: 10em 10em 10em;
    margin: 2em;
}

.gameCase {
    margin: 1px;
}

#tile-0-0 {
    background-color:palegreen;
}

#tile-1-1 {
    background-color:palegoldenrod;
}

#tile-2-2 {
    background-color:palegreen;
}

#tile-0-1 {
    background-color:paleturquoise;
}

#tile-1-0 {
    background-color:paleturquoise;
}

#tile-1-2 {
    background-color:paleturquoise;
}

#tile-2-1 {
    background-color:paleturquoise;
}

#tile-0-2 {
    background-color:papayawhip;
}

#tile-2-0 {
    background-color:papayawhip;
}