body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:lightblue;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.gameContainer {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 10em 10em 10em;
    grid-template-rows: 10em 10em 10em;
    background-color: rgb(132, 167, 179);
    margin: auto;
    border: 1px solid rgb(132, 167, 179);
    width: 30em;
}

.gameCase {
    margin: 1px;
    text-align: center;
    padding-top: 25%;
    font-size: 500%;
    font-weight: bolder;
    opacity: 0.5;
    transition: 100ms;
}

.gameCase:hover {
    opacity:1.0;
}

#tile-0-0 {
    background-color:palegreen;
}

#tile-1-1 {
    background-color:palegoldenrod;
}

#tile-2-2 {
    background-color:palegreen;
}

#tile-0-1 {
    background-color:paleturquoise;
}

#tile-1-0 {
    background-color:paleturquoise;
}

#tile-1-2 {
    background-color:paleturquoise;
}

#tile-2-1 {
    background-color:paleturquoise;
}

#tile-0-2 {
    background-color:papayawhip;
}

#tile-2-0 {
    background-color:papayawhip;
}

#messageBox {
    margin-bottom: 2em;
    margin-top: 2em;
    height: 2em;
    display: block;
    font-size: x-large;
    
}